.clients {
  height: 335px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.clients__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.clients__item {
  width: 255px;
  height: 110px;
  margin-bottom: 40px;
  padding: 35px 20px;
  border: 3px solid $color-grey;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}