.page-footer {
  width: 1440px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $color-difault;
}

.copyright__text {
  font-weight: 400;
  font-size: $font-size-base;
  line-height: 1.29;
  color: $font-color-base;
}
