.page-header {
  height: 150px;
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: 367px 743px;
  grid-template-rows: 50px 50px 50px;
}

.page-header_inner {
  grid-column: 1/2;
  grid-row: 2/3;
}
