.page-header__logo-pink path {
  color: $color-white;
}

.page-header__inner {
  height: 66px;
  display: flex;
  opacity: 0.3;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: $font-color-base;
}

.page-header__menu {
  background-color: transparent;
  border: none;
}

.page-header__menu-brg {
  color: $color-white;
}
