@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
  url("../../fonts/Gilroy-Light.ttf") format("ttf"),
    url("../../fonts/Gilroy.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
  url("../../fonts/Gilroy-Medium.ttf") format("ttf"),
    url("../../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("../../fonts/Gilroy-Bold.ttf") format("ttf"),
    url("../../fonts/Gilroy-Bold.woff") format("woff");
}
