.downnload {
  background-image: url("/img/back-mobile.jpg");
  color: $font-color-light;
}

.downnload__title {
  font-weight: 300;
  font-size: $font-size-big;
  line-height: 29px;
}

.downnload__item {
  color: $font-color-light;
}

.downnload__text {
  font-weight: 300;
  font-size: $font-size-base;
  line-height: 24px;
}
